[21. Calendar App]
*/
body.overflow-hidden {
  overflow: hidden;
}
/*
Calendar
--------------------------------------------------
Header / .calendar-header
Years / .years .year
Months / .months
Weeks / .weeks-wrapper .week
Grid / .calendar-container
Events / .event-container
*/
.calendar {
  height: 100%;
}
.calendar .drager {
  overflow: hidden;
}
.calendar .drager .scroll-element {
  display: none;
}
.calendar.month {
  /*padding-left: 5px;*/
}
.calendar.month .options .date {
  margin-bottom: 22px;
}
.calendar.month .week-dragger {
  display: none;
}
.calendar.month .calendar-container {
  border-top: 1px solid #e6e6e6;
  padding-top: 0;
  height: calc(100% - 55px);
}
.calendar.month .calendar-container .view .tble {
  width: 100%;
}
.calendar.month .calendar-container .view .tble .thead .tcell .weekday {
  margin-left: 10px;
}
.calendar .calendar-header {
  height: 43px;
  background-color: #fafafa;
  line-height: 43px;
  padding-left: 60px;
}
.calendar .calendar-header > .drager {
  width: calc(100% - 141px);
  border-right: 1px solid rgba(0, 0, 0, 0.33);
  line-height: 35px;
}
.calendar .calendar-header .years {
  width: auto;
  list-style: none;
  white-space: nowrap;
  margin-top: 5px;
}
.calendar .calendar-header .years .year {
  display: inline-block;
  width: 69px;
  text-align: center;
  white-space: nowrap;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.calendar .calendar-header .years .year > a {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}
.calendar .calendar-header .years .year > a.active {
  color: #000;
}
.calendar .calendar-header .years .year > a.has-event:before {
  position: absolute;
  content: '\25CF';
  width: 100%;
  font-size: 8px;
  line-height: 6px;
  text-align: center;
  color: rgba(0, 0, 0, 0.44);
}
.calendar .options {
  padding: 0px 60px;
  /*margin-top: 15px;*/
}
.calendar .options .months {
  width: auto;
  white-space: nowrap;
  height: 43px;
  line-height: 43px;
}
.calendar .options .months .month {
  min-width: 30px;
  max-width: 100px;
  padding: 0 10px;
  display: inline-block;
}
.calendar .options .months .month > a {
  position: relative;
  color: rgba(0, 0, 0, 0.28);
}
.calendar .options .months .month > a:hover {
  color: rgba(0, 0, 0, 0.33);
}
.calendar .options .months .month > a.active {
  color: #000000;
}
.calendar .options .months .month > a.has-event:before {
  position: absolute;
  content: '\25CF';
  top: -6px;
  width: 100%;
  font-size: 8px;
  line-height: 6px;
  text-align: center;
  color: rgba(0, 0, 0, 0.33);
}
.calendar .options .date {
  margin-bottom: 20px;
}
.calendar .week-dragger {
  border-bottom: 1px solid #e6e6e6;
  margin-left: -20px;
}
.calendar .weeks-wrapper {
  width: auto;
  white-space: nowrap;
  padding-left: 10px;
  padding-bottom: 12px;
  margin-bottom: 5px;
  margin-left: 20px;
}
.calendar .weeks-wrapper .week {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
}
.calendar .weeks-wrapper .week:first-child {
  padding-left: 4px;
}
.calendar .weeks-wrapper .week:last-child {
  padding-left: 0px;
}
.calendar .weeks-wrapper .week:before {
  content: '';
  position: absolute;
  right: -20px;
  bottom: 6px;
  height: 20px;
  width: 20px;
  border-left: 1px dotted rgba(0, 0, 0, 0.3);
}
.calendar .weeks-wrapper .week.active .day-wrapper .week-date .day > a {
  color: rgba(0, 0, 0, 0.6);
}
.calendar .weeks-wrapper .week .day-wrapper {
  display: inline-block;
}
.calendar .weeks-wrapper .week .day-wrapper .week-date {
  text-align: center;
  width: 21px;
  height: 21px;
  margin: 6px;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
}
.calendar .weeks-wrapper .week .day-wrapper .week-date.current-date {
  background-color: #e6e6e6;
}
.calendar .weeks-wrapper .week .day-wrapper .week-date.active {
  background-color: #10cfbd;
}
.calendar .weeks-wrapper .week .day-wrapper .week-date.active .day > a {
  font-weight: bold;
  opacity: 1;
  color: #fff;
}
.calendar .weeks-wrapper .week .day-wrapper .week-date .day > a {
  letter-spacing: -0.01em;
}
.calendar .weeks-wrapper .week .day-wrapper .week-day {
  text-align: center;
}
.calendar .weeks-wrapper .week .day-wrapper .day {
  display: inline-block;
  text-align: center;
  position: relative;
  z-index: 10;
  padding: 1px 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
.calendar .weeks-wrapper .week .day-wrapper .day > a {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.7;
  font-weight: 600;
}
.calendar .weeks-wrapper .week .day-wrapper .day > a.has-event:before {
  position: absolute;
  content: '\25CF';
  top: -10px;
  width: 100%;
  font-size: 8px;
  line-height: 6px;
  text-align: center;
  color: #10cfbd;
}
.calendar .weeks-wrapper .week .day-wrapper .day.week-header {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 10px;
}
.calendar .calendar-container {
  position: relative;
  height: calc(100% - 55px);
  padding-top: 10px;
}
.calendar .calendar-container .view {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell {
  position: relative;
  height: 20%;
  clear: both;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell .cell-inner .holder {
  position: absolute;
  top: 37px;
  left: 0;
  right: 0;
  bottom: 0;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell.active {
  background: #fff;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell.active .cell-inner {
  background-color: #fef8e7;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell.not {
  background-color: #fafafa;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell.drop-target .cell-inner {
  background-color: #fafafa;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell .cell-inner:only-child,
.calendar .calendar-container .view.month-view .tble .trow .tcell .cell-inner {
  height: 100%;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell .month-date {
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-right: 6px;
  width: 25px;
  height: 25px;
  padding-top: 2px;
  margin: 6px;
  float: right;
  display: block;
  z-index: 1;
  border-radius: 99px;
  -webkit-border-radius: 99px;
  -moz-border-radius: 99px;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell .month-date.current-date {
  background-color: #e6e6e6;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell .month-date.active {
  background-color: #10cfbd;
  font-weight: bold;
  opacity: 1;
  color: #fff;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell .event-container {
  height: 30px;
  position: relative !important;
  min-height: 30px !important;
}
.calendar .calendar-container .view.month-view .tble .trow .tcell .event-container .event-inner {
  padding: 8px;
}
.calendar .calendar-container .view.month-view .ghost-element {
  height: 30px;
  position: relative;
  width: 100%;
}
.calendar .calendar-container .view.month-view .grid .tble {
  height: 100%;
  width: 100%;
}
.calendar .calendar-container .view.month-view .event-container .event-title {
  font-size: 12px;
}
.calendar .calendar-container .view.day-view .tble {
  white-space: nowrap;
}
.calendar .calendar-container .view.day-view .tble .thead {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
.calendar .calendar-container .view.day-view .tble .tcell {
  display: none;
  max-width: 100%;
  width: 100%;
}
.calendar .calendar-container .view.day-view .tble .tcell.active {
  display: inline-block;
}
.calendar .calendar-container .view.day-view .tble .trow {
  display: block;
  height: 80px;
}
.calendar .calendar-container .view.day-view .tble .trow .tcell.active {
  background-color: #fff;
}
.calendar .calendar-container .view .tble {
  display: inline-table;
  width: calc(100% - 50px);
  vertical-align: top;
  position: relative;
}
.calendar .calendar-container .view .tble .thead {
  display: table-row;
  width: 100%;
  background: #fff;
}
.calendar .calendar-container .view .tble .thead .tcell {
  padding: 10px;
  height: 40px;
  position: relative;
}
.calendar .calendar-container .view .tble .thead .tcell .weekday {
  font-size: 12px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.51);
}
.calendar .calendar-container .view .tble .thead .tcell .weekdate {
  font-size: 14px;
  display: inline-block;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.77);
}
.calendar .calendar-container .view .tble .thead .tcell.active .weekdate,
.calendar .calendar-container .view .tble .thead .tcell.active .weekday {
  color: #000000;
}
.calendar .calendar-container .view .tble .thead .tcell:before {
  content: '';
  border-bottom: 1px solid #e6e6e6;
  width: calc(100% - 18px);
  position: absolute;
  bottom: 0;
}
.calendar .calendar-container .view .tble .thead .tcell .event-bubble {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 5px;
  float: right;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
.calendar .calendar-container .view .tble .tcell {
  display: table-cell;
  height: 80px;
  max-width: 14.2857%;
  width: 14.2857%;
}
.calendar .calendar-container .view .tble .trow {
  display: table-row;
}
.calendar .calendar-container .view .tble .trow .tcell {
  background: #fff;
  padding: 0 10px;
}
.calendar .calendar-container .view .tble .trow .tcell .cell-inner {
  height: 40px;
  position: relative;
}
.calendar .calendar-container .view .tble .trow .tcell .cell-inner:first-child {
  border-bottom: 1px dotted #e6e6e6;
}
.calendar .calendar-container .view .tble .trow .tcell .cell-inner:last-child {
  border-bottom: 1px solid #e6e6e6;
}
.calendar .calendar-container .view .tble .trow .tcell .cell-inner:only-child {
  height: 40px;
  border-bottom: 0;
}
.calendar .calendar-container .view .tble .trow .tcell.active {
  background-color: #fef8e7;
}
.calendar .calendar-container .view .tble .trow .tcell.active > * {
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.calendar .calendar-container .view .tble .trow .tcell.disable {
  background-color: #fafafa;
}
.calendar .calendar-container .view .tble .loading {
  left: 10px;
}
.calendar .calendar-container .loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}
.calendar .calendar-container .pgn-wrapper {
  position: absolute;
}
.calendar .calendar-container .even-holder {
  position: absolute;
  display: table;
  width: calc(100% - 50px);
  width: 100% \0;
  height: calc(100% - 25px);
}
.calendar .calendar-container .even-holder .event-placeholder {
  height: 100%;
  width: 14.2857%;
  display: table-cell;
}
.calendar .calendar-container .event-container {
  width: 100%;
  height: 40px;
  position: absolute !important;
  z-index: 10;
  overflow: hidden;
  // margin-bottom: 5px;
  min-height: 40px !important;
  -webkit-transition: width 0.16s ease;
  transition: width 0.16s ease;
  
}
.calendar .calendar-container .event-container.active{
  border: 1px solid rgba(0,0,0,0.4);
}
.calendar .calendar-container .event-container .event-inner {
  padding: 15px;
}
.calendar .calendar-container .event-container .event-inner:before {
  position: absolute;
  width: 8px;
  height: 8px;
  content: '';
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 999px;
  right: 14px;
  top: 11px;
}
.calendar .calendar-container .event-container .time-wrap {
  line-height: 12px;
  text-align: left;
  color: rgba(0, 0, 0, 0.77);
  overflow: hidden;
  text-overflow: ellipsis;
}
.calendar .calendar-container .event-container .event-start-time,
.calendar .calendar-container .event-container .event-end-time {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.44);
}
.calendar .calendar-container .event-container .event-title {
  font-size: 14px;
  line-height: 15px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.calendar .calendar-container .event-container .resizable-handle {
  position: absolute;
  opacity: 1;
  z-index: 3;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8px;
  overflow: hidden;
  line-height: 8px;
  font-size: 11px;
  font-family: monospace;
  text-align: center;
  cursor: s-resize;
}
.calendar .calendar-container .event-container .resizable-handle:after {
  content: "=";
  color: rgba(0, 0, 0, 0.44);
}
.calendar .calendar-container .event-container.dragging {
  z-index: 100;
}
.calendar .calendar-container .grid {
  display: block;
  overflow: scroll;
  height: calc(100% - 40px);
  -webkit-overflow-scrolling: touch;
}
.calendar .calendar-container .grid.slot-60 .tble .trow .tcell .cell-inner {
  height: 80px;
  border-bottom: 1px solid #e6e6e6;
}
.calendar .calendar-container .grid.slot-15 .tble .trow .tcell {
  height: 25px;
}
.calendar .calendar-container .grid.slot-15 .tble .trow .tcell .cell-inner {
  height: 25px;
  border-bottom: 1px dotted #e6e6e6;
}
.calendar .calendar-container .grid.slot-15 .tble .trow .tcell .cell-inner:last-child {
  border-bottom: 1px solid #e6e6e6;
}
.calendar .calendar-container .grid.slot-15 .time-slot-wrapper .time-slot {
  height: 100px;
}
.calendar .calendar-container .allday-cell {
  height: 40px;
  display: inline-block;
  width: 50px;
  float: left;
}
.calendar .time-slot-wrapper {
  display: inline-block;
  width: 50px;
  float: left;
  height: 100%;
}
.calendar .time-slot-wrapper .time-slot {
  display: block;
  height: 80px;
  width: 100%;
  background: #fff;
}
.calendar .time-slot-wrapper .time-slot:first-child span {
  display: none;
}
.calendar .time-slot-wrapper .time-slot > span {
  float: right;
  position: relative;
  top: -15%;
  color: rgba(0, 0, 0, 0.46);
  font-weight: bold;
  font-size: 12px;
  right: 5px;
}
.calendar-event {
  width: 330px;
  right: -330px;
}
.calendar-event .scrollable {
  height: 100%;
}
.date-selector {
  cursor: pointer;
}
/*
Responsive Util
*/
@media (max-width: 991px) {
  .calendar {
    background-color: #fff;
  }
  .calendar .calendar-header {
    display: none;
  }
  .calendar .options {
    margin-top: 0;
    padding-left: 10px;
  }
  .calendar .options .months {
    line-height: 21px;
    padding-top: 14px;
  }
  .calendar .options .date {
    margin-bottom: 10px;
  }
  .calendar .calendar-container {
    height: 100%;
  }
  .calendar .calendar-container .view.week-view .tble {
    white-space: nowrap;
  }
  .calendar .calendar-container .view.week-view .tble .thead {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
  }
  .calendar .calendar-container .view.week-view .tble .tcell {
    display: none;
    max-width: 100%;
    width: 100%;
  }
  .calendar .calendar-container .view.week-view .tble .tcell.active {
    display: inline-block;
    background-color: #fff;
  }
  .calendar .calendar-container .view.week-view .tble .trow {
    display: block;
    height: 80px;
  }
  .calendar .calendar-container .view.month-view .allday-cell {
    display: none;
  }
  .calendar .calendar-container .view.month-view .grid .tble {
    padding-left: 0;
  }
  .calendar .calendar-container .view.month-view .tble .thead .tcell {
    padding: 3px;
    padding-top: 10px;
  }
  .calendar .calendar-container .view.month-view .tble .trow .tcell {
    padding: 0 6px;
  }
  .calendar .calendar-container .view.month-view .tble .trow .tcell .event-container {
    border-radius: 99px;
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    position: absolute !important;
    height: 16px !important;
    width: 16px !important;
    min-height: 16px !important;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  .calendar .calendar-container .view.month-view .tble .trow .tcell .event-container .event-inner {
    display: none;
  }
  .calendar .calendar-container.month {
    height: calc(100% - 101px);
  }
  .calendar .weeks-wrapper {
    margin-bottom: 0;
  }
  .calendar.month {
    padding-left: 0;
  }
  .calendar.month .calendar-container {
    height: calc(100% - 108px);
  }
  .calendar-event {
    width: 240px;
    right: -240px;
  }
  .months-drager {
    margin-left: 27px;
    width: calc(100% - 80px);
    border-right: 1px solid #e6e6e6;
    padding-top: 0;
  }
}
@media (max-width: 640px) {
  .calendar.month .calendar-container .view .tble .thead .tcell {
    text-align: center;
  }
  .calendar.month .calendar-container .view .tble .thead .tcell:before {
    width: 100%;
  }
  .calendar.month .calendar-container .view .tble .thead .tcell .weekday {
    width: 11px;
    overflow: hidden;
    letter-spacing: 4px;
    font-weight: bold;
  }
}