.bg-success-lighter{
    background: lighten($brand-success, 50%);
}

.bg-danger-lighter{
    background: lighten($brand-danger, 50%);
}

.bg-complete-lighter {
    background: lighten($brand-info, 30%);
}