.panel{
	border: none;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03);
	.panel-heading{
		padding-top:20px; 
		border: none ! important;
		.panel-title{
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	.panel-body{
		padding-bottom: 20px;
	}
	.panel-option{
		float: right;
		margin-top: -20px;
	}

	//color
	/*.panel-info{background-color:$brand-info;}*/


	&.panel-size-1{
		min-height:150px;
		position: relative;
	}
	&.panel-size-2{
		min-height: 230px;
		position: relative;
	}
	&.panel-size-3{
		height: 484px;
		position: relative;
	}
}
