
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// color
@import "colors";
// panel
@import "panels";



html, body , body #app, .full-height{
    height:100%;
}
.page-container{
	position:relatif;
	padding-top:115px;
}

.header {
    position:absolute;
    width:100%;
    .navbar {
    	border-color: rgba(224, 224, 223, 0.7);
		margin-bottom: 0;
		&.header-menu{
			border-bottom: none;
			min-height: 35px;
			.navbar-nav > li {
				padding: 0;
				a {
					padding: 10px 25px; 
				}
				&:first-child a{
					padding-left: 0px; 
				}
			}
		}
		
	}
}
//quickview-wrapper
.quickview-wrapper{
	position: fixed;
	right: -350px;
	top: 0;
	width: 350px;
	background: #fff;
	bottom: 0;
	z-index: 1000;
	box-shadow: 0 0 9px rgba(191, 191, 191, 0.36);
	border-left: 1px solid rgba(222, 227, 231, 0.56);
	-webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
	transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
	-webkit-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-perspective: 1000;

	&.in {
        -webkit-transform: translate3d(-100%, 0, 0);
    	transform: translate3d(-100%, 0, 0);
        -ms-transform: translate(-100%, 0);
    }
    .inner{
    	height:100%;
    	overflow-y:scroll;
    	.quickview-header{
    		width:100%;
    		height:50px;
    		position:fixed;
    		background:#fff;
    	}
    	.quickview-body{
    	padding-top:50px;
    	padding-bottom:74px;
    	}
    }
    .container{
    	width:100%;
    }
    .close{
    	margin-top:10px;
    }
    .event-container{
    margin-bottom:5px;
    }
    .event-inner{
    padding:15px 15px;;
    }

}
//chat
.chats{
	height:100%;
	padding: 0px 20px;
	.chat{
		padding:0px 15px;
		margin-bottom:10px;
		.inner{
			background: lighten($brand-success, 50%);
			color: $text-color;
			padding: 5px 15px;
			border-radius: 15px;
		}
		&.chat-guest{
			.inner{
				background: lighten($brand-info, 30%);
			}
		}
	}
}

//helper
.no-margin{
	margin:0 ! important;
}

//calendar
.tcell{
	// cursor:pointer;
}

//chat
.chat-view .chat-inner {
  padding: 15px;
  overflow-x: hidden;
  height: calc(100% - 103px);
}
.chat-view .message {
  margin-bottom: 10px;
  line-height: 30px;
}
.chat-view .profile-img-wrapper {
  height: 28px;
  width: 28px;
}
.chat-view .chat-bubble {
  position: relative;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 16px;
  margin: 5px 0px 0 5px;
  max-width: 60%;
  white-space: normal;
}
.chat-view .chat-bubble > p {
  margin: 0;
}
.chat-view .chat-bubble.from-me {
  background: #daeffd;
  color: #2c2c2c;
  opacity: 0.8;
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.chat-view .chat-bubble.from-them {
  color: #2c2c2c;
  background: #f0f0f0;
  position: relative;
  opacity: 0.8;
  float: left;
  border: 1px solid #f0f5f8;
}
.chat-view .chat-input {
  border: 0;
  height: 45px;
}
.chat-view .chat-input:focus,
.chat-view .chat-input:active {
  background-color: #fff;
}
.chat-view .user-controls {
  padding-top: 12px;
}

.chat-user-list > a {
  height: 60px;
}

//notify
.navbar-default .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.navbar-default .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
.navbar-default .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.navbar-default .dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.navbar-default .dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
.navbar-default .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.navbar-default .dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.navbar-default .dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}


