<template>
	<div class="cell-inner">
		<div class="month-date">{{ date.date() }}</div>
		<div class="holder">
			<label class="label label-info">PO: 00001</label>
		</div>
	</div>	
</template>
<script>
	export default {
		props: {
			date: '',
		},
		// computed: {
		// 	label() {
		// 		return this.date.date()
		// 	}
		// }
	}

</script>
<style>
	.days li .cell-inner .mont-date{
		position: absolute;
		padding: 5px;
	}
	.days li .cell-inner .holder{
		padding: 5px;
		margin-left: 20px;
	}
</style>