<template>
<div id="calendar_month" class="full-height">
    <div class="calendar month">
        <div class="options">
            <div class="months-drager drager">
                <div class="months pull-left" id="months">
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Jan">Jan</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Feb">Feb</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Mar">Mar</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Mar">Apr</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Mar">Mei</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Mar">Jun</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Mar">Jul</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Mar">Aug</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector active has-event" data-month="Mar">Sep</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Mar">Oct</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Mar">Nov</a>
                    </div>
                    <div class="month">
                      <a href="#" class="month-selector " data-month="Mar">Dec</a>
                    </div>
                </div>
                <button data-toggle="collapse" href="#sumary" class="btn btn-sm btn-info pull-right">Show sumary</button>
                <h4 class="semi-bold date pull-right" style="margin-right: 20px;" id="currentDate">September 2017, 19 Tuesday</h4>
            </div>
        </div>
        <div id="calendar" class="calendar-container">
            <div class="view month-view">
              <div class="tble" id="viewTableHead">
                <div class="thead">
                    <div class="tcell" data-day="" v-for="week in calendar.weeks">
                        <div class="weekday">{{ week }}</div>
                    </div>
                </div>
              </div>

                <div class="grid">
                    <div class="tble" id="monthGrid">
                        <div class="trow" v-for="weeks in calendar.days">
                            <div class="tcell" data-date="2017-09-17" v-for="day in weeks" :class="day.thisMonth">
                              <div class="month-date">{{ day.date.date() }}</div>
                              <div class="cell-inner">
                                <div class="holder"></div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    <!-- <div class="calendar">
        <div class="container">
            <h4>{{ curent.format('MMMM YYYY, DD dddd') }}</h4>
        </div>
        <ul class="weekdays">
          <li v-for="week in calendar.weeks"><p>{{ week }}</p></li>
        </ul>

        <ul class="days">
          <li v-for="n in calendar.days" :id="n.date.format('DDMMYYYY')" :class="n.thisMonth">
            <dayofmonth :date="n.date"></dayofmonth>
          </li>
        </ul> 
    </div> -->
</template>

<script>
    export default {
        data() {
            return {
                curent: moment(),
            }
        },
        props: {
            prev:'',
            next:'',
            now: '',
        },
        computed: {
            calendar() {
                return {
                    weeks: this._getWeek(),
                    days: this._getDays() 
                }
            },
            
        },
        methods: {
            
            _getWeek() {
                return ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
            },
            
            _getDays() {
                const days = [[]]

                for (var i = 1; i <= this._getFirstDay(); i++) {
                    var index = days.length - 1
                   days[index].push({
                        date: moment(this.curent).subtract(1, 'months').endOf('month').subtract( this._getFirstDay() - i,'days'),
                        thisMonth: 'not'
                    })
                    if(days[index].length == 7 && days.length < 5){
                        days.push([])
                    }
                }

                for (var i = 1; i <= this._getCurentDay(); i++) {
                    var index = days.length - 1
                    days[index].push({
                        date: moment(this.curent).endOf('month').subtract( this._getCurentDay() - i,'days'),
                        thisMonth: false
                    })
                    if(days[index].length == 7 && days.length < 5){
                        days.push([])
                    }
                }

                for (var i = 0; i < (6 - this._getLastDay()); i++) {
                    var index = days.length - 1
                    days[index].push({
                        date: moment(this.curent).add(1, 'months').startOf('month').add(i, 'days'),
                        thisMonth: 'not'
                    })
                    if(days[index].length == 7 && days.length < 5 ){
                        days.push([])
                    }
                }
                console.log(days)
                return days
            },

            _getCurentDay() {
                return this.curent.endOf('month').date()
            },

            _getLastDay() {
                return this.curent.endOf('month').day()
            },

            _getFirstDay() {
                return this.curent.startOf('month').day()
            }

        },
        
        created() {
            this.curent = moment(this.now)
            console.log(this.curent.endOf('month').date())
            // console.log(6 - this._getLastDay())
            // console.log(moment(this.curent).subtract(1, 'months').endOf('month').subtract( 0,'days').format('DD MM YYYY'))
            // console.log(moment().subtract(1, 'months').endOf('month').subtract(0,'days').date()) 
            // console.log(this.calendar.lastDay)
            // console.log(moment(this.now).format('DD MM YYYY'))
        }
    }
</script>
<style>
</style>
