<template>
<div id="calendar_month" class="full-height">
    <div class="calendar week">
      	<div class="options">
        	<div class="months-drager drager">
        		<div class="months pull-left" id="months" style="max-width: 400px;overflow-y: auto;">
		            <div class="month" v-for="day in daysInMonth">
		              <a href="#" class="month-selector " data-month="Mar">{{day.date.date()}}</a>
		            </div>
		        </div>
		         	<button data-toggle="collapse" href="#sumary" class="btn btn-sm btn-info pull-right">Show sumary</button>
			        <button data-toggle="collapse" href="#addevent" class="btn btn-sm btn-info pull-right" style="margin-right: 5px">Tambah Jadwal</button>
          			<h4 class="semi-bold date pull-right" style="margin-right: 20px;" id="currentDate">September 2017, 19 Tuesday</h4>
        	</div>
    	</div>
    	<div id="calendar" class="calendar-container">
            <div class="view week-view">
              	<div class="allday-cell"></div>
              		<div class="tble" id="viewTableHead">
              			<div class="thead">
              				<div class="tcell" data-day="2017-09-17">
			                  	<div class="weekdate">17</div>
			                  	<div class="weekday">Sunday</div>
			                </div>
              			</div>
              		</div>
              	</div>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default{
	data(){
		return{curent: moment()}
	},
	props: {
            prev:'',
            next:'',
            now: '',
    },
    computed:{
    	daysInMonth(){
    	return this._getDaysInMonth()
    	}     
    },
    methods:{
    	_getDaysInMonth(){
    		const days = []
    		for (var i = 1; i <= this._getLenghtMonth(); i++) {
    			days.push({
                    date: moment(this.curent).endOf('month').subtract( this._getLenghtMonth() - i,'days'),
                })
    		}
    		// console.log(days)
    		return days
    	},
    	_getDaysInWeek(){

    	},
    	_getLenghtMonth(){
    		return this.curent.endOf('month').date()
    	}
    },
    created(){
    	this.curent = moment(this.now)
    	console.log(this._getDaysInWeek)

    }
}
</script>
<style>
	
</style>